p {
    font-family: sans-serif;
    color: black;
    align-self: center;
    align-content: center;
    align-items: center;

}


h1 {
    font-family: cursive;
    text-align: center;
    align-self: center;
}

a {
    font-family: sans-serif;
    color: green;
    text-align: center;
    align-self: center;

}

h2 {
    font-family: sans-serif;
    text-align: center;
}

.box {
    background-color: bisque;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  } 