p {
    font-family: sans-serif;
    color: black;
    align-self: center;
    align-content: center;
    align-items: center;

}


h1 {
    font-family: cursive;
    text-align: center;
    align-self: center;
}

a {
    font-family: sans-serif;
    color: green;
    text-align: center;
    align-self: center;

}

h2 {
    font-family: sans-serif;
    text-align: center;
}

.box {
    background-color: rgba(168, 117, 54, 0.507);
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    
  } 